# compiled output
/dist
/tmp
/out-tsc
/.storybook/dist
/.storybook/custom-elements.json

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# OpenApi
libs/shared/api-administration-v1/src/lib/**
!libs/shared/api-administration-v1/src/lib/.gitkeep
libs/shared/api-administration-v2/src/lib/**
!libs/shared/api-administration-v2/src/lib/.gitkeep

# storybook
/storybook-static

# yarn
.pnp.*
.yarn
.yarn.lock
.yarnrc.yml

.angular
/compodoc

.jest_cache
.env
